# Quellsystem 1: Ticketsystem
TS_DB_USER=ts_admin
TS_DB_PASSWORD=streng_geheimes_passwort_ts
TS_DB_NAME=ticketsystem
TS_HOST_PORT=5431

# Quellsystem 2: Inventarsystem
IS_DB_USER=is_admin
IS_DB_PASSWORD=streng_geheimes_passwort_is
IS_DB_NAME=inventarsystem
IS_HOST_PORT=5432

# Data Warehouse
DWH_DB_USER=dwh_admin
DWH_DB_PASSWORD=streng_geheimes_passwort_dwh
DWH_DB_NAME=dwh_prod
DWH_HOST_PORT=5433
